<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <Navbar/>
        <!-- End Navbar -->

        <!-- Left Sidebar -->
        <Sidebar/>
        <!-- End Left Sidebar -->

        <!-- Main -->
        <div class="main">

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Dashboard</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Welcome, <strong>Admin</strong></h3>
                                </div>
                                <div class="panel-body no-padding bg-adira text-center" style="display: block;">
                                    <div class="welcome-logo">
                                        <img src="assets/img/logo-adira.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- End Main Content -->

        </div>
        <!-- End Main -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <Footer/>
        <!-- End Footer -->

    </div>
    <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";

    export default {
        name: 'Home',
        components: {
            Navbar,
            Sidebar,
            Footer
        }
    }
</script>