<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="center">
						<div class="content">
							<div class="header">
								<div class="logo text-center">
                                    <img src="assets/img/logo-adira.png" alt="Adira Logo" class="img-responsive logo">
                                </div>
							</div>
							<form class="form-auth-small" action="index.php">
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Email</label>
									<input type="email" class="form-control" id="signin-email" value="samuel.gold@domain.com" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">Password</label>
									<input type="password" class="form-control" id="signin-password" value="thisisthepassword" placeholder="Password">
								</div>
								<div class="form-group clearfix">
									<label class="fancy-checkbox element-left">
										<input type="checkbox">
										<span>Remember me</span>
									</label>
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

    </div>
    <!-- End Wrapper -->
</template>

<script>
    export default {
        name: 'Login',
        components: {

        }
    }
</script>

<style>
    .btn-primary {
        background-color: #fede00;
        border-color: #fede00;
        color: #2B333E;
        font-weight: bold;
        font-size: 16px;
    }

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #2B333E;
        border-color: #2B333E;
        color: #fede00;
    }
</style>