<template>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Navbar -->
        <Navbar />
        <!-- End Navbar -->

        <!-- Left Sidebar -->
        <Sidebar />
        <!-- End Left Sidebar -->

        <!-- Main -->
        <div class="main">

            <!-- Main Content -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">User Matrix</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-headline">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Modul</h3>
                                    <router-link to="/management-user" class="btn btn-secondary btn-sm pull-right">
                                        <i class="fa fa-arrow-left"></i>
                                        Kembali
                                    </router-link>
                                </div>
                                <div class="panel-body">
                                    <form v-on:submit="saveForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="fancy-checkbox">
                                                <input type="checkbox" v-model="dedup">
                                                <span>
                                                    Dedup
                                                </span>
                                            </label>
                                            <label class="fancy-checkbox">
                                                <input type="checkbox" v-model="task_list">
                                                <span>
                                                    Task List
                                                </span>
                                            </label>
                                            <label class="fancy-checkbox">
                                                <input type="checkbox" v-model="inbox">
                                                <span>
                                                    Inbox
                                                </span>
                                            </label>
                                            <label class="fancy-checkbox">
                                                <input type="checkbox" v-model="order_tracking">
                                                <span>
                                                    Order Tracking
                                                </span>
                                            </label>
                                            <label class="fancy-checkbox">
                                                <input type="checkbox" v-model="attendance">
                                                <span>
                                                    Attendance
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-sm pull-right">
                                        <i class="fa fa-save"></i>
                                        Simpan
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content -->

        </div>
        <!-- End Main -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <Footer />
        <!-- End Footer -->

    </div>
    <!-- End Wrapper -->
</template>

<script>
    import Navbar from "@/components/Navbar.vue";
    import Sidebar from "@/components/Sidebar.vue";
    import Footer from "@/components/Footer.vue";
    import axios from "axios";

    export default {
        name: 'UserMatrix',
        components: {
            Navbar,
            Sidebar,
            Footer
        },
        data () {
            return {
                // dataModules: [],
                // module: '',
                dedup: false,
                task_list: false,
                inbox: false,
                order_tracking: false,
                attendance: false,
                errors: []
            }
        },
        created() {
            this.loadDataJob();
            // this.loadDataJobUse();
        },
        mounted () {
            //
        },
        methods: {
            loadDataJob() {
                axios
                .get('http://localhost:82/ad1ms2_backend/public/api/getModuleJob/' + this.$route.params.id)
                .then(response => {
                    this.dedup = response.data.model.dedup,
                    this.task_list = response.data.model.task_list,
                    this.inbox = response.data.model.inbox,
                    this.order_tracking = response.data.model.order_tracking,
                    this.attendance = response.data.model.attendance
                })
            },
            // loadDataJobUse() {
            //     axios
            //     .get('http://localhost:82/ad1ms2_backend/public/api/getModules/' + this.$route.params.id)
            //     .then(response => this.dataModulesUses = response.data.model)
            // },
            saveForm(e) {
                e.preventDefault();

                axios
                .post('http://localhost:82/ad1ms2_backend/public/api/userMatrixUpdate/' + this.$route.params.id, {
                    dedup: this.dedup,
                    task_list: this.task_list,
                    inbox: this.inbox,
                    order_tracking: this.order_tracking,
                    attendance: this.attendance
                })
                .then(() => {
                    this.$swal({
                        icon: 'success',
                        title: 'Save',
                        text: 'You successfully save this data'
                    })
                    .then(() => {
                        this.$router.push('/management-user')
                    })
                })
            }
        }
    }
</script>