<template>
    <footer>
        <div class="container-fluid">
            <p class="copyright">
                &copy; Genesys Integrated Indonesia
            </p>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'Footer'
    }
</script>