<template>
  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li>
            <router-link to="/" class name="dashboard" id="dashboard">
              <i class="lnr lnr-home"></i>
              <span>Dashboard</span>
            </router-link>
          </li>
          <li>
            <router-link to="/management-user" class name="management-user" id="management-user">
              <i class="lnr lnr-user"></i>
              <span>Management User</span>
            </router-link>
          </li>
         
         
         
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sidebar",
};
</script>